body{
    background-color: darksalmon;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.imagen{
    height: 450px;
    width: 400px;
}

.parrafo , .titulo{
    margin: 0;
    padding: 0;
}